* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

.first-header {
  width: 100%;
  height: 40px;
  background-color: white;
  border-bottom: 1px solid grey;
}

.second-header {
  position: relative;
  top: 0px;
  background-color: white;
  width: 100%;
  height: 70px;
  padding-left: 160px;
}

.second-header__logo {
  position: relative;
  top: 20px;
  width: 150px;
}

.all-products__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 75px 170px;
}

.all-products__card {
  position: relative;
  top: 0px;
  background-color: white;
  width: 200px;
  height: 375px;
  border-radius: 10px;
}

.all-products__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.2))), url("..//images/bg1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("..//images/bg1.jpg");
  background-position: bottom;
  background-position-x: 1300px;
  border-radius: 10px;
}

.all-products__images1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.2))), url("..//images/kupono-kuwamura-LzgK6IMoSZM-unsplash.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("..//images/kupono-kuwamura-LzgK6IMoSZM-unsplash.jpg");
  background-position: center;
  border-radius: 10px;
}

.all-products__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.all-products__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.all-products__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 25px;
  padding-left: 0px;
}

.all-products__old-price {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-right: 5px;
  padding-top: 7px;
  text-decoration: line-through;
}

.all-products__new-price {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-right: 8px;
  padding-top: 7px;
  color: #6a4eff;
  font-weight: bold;
}

.all-products__add-to-cart-button {
  width: 100px;
  height: 30px;
  background-color: #ff4655;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.all-products__add-to-cart-button:hover {
  background-color: #6a4eff;
  color: white;
}
/*# sourceMappingURL=productspageall.css.map */