@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@100;300;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  overflow-x: hidden;
}

.first-header {
  width: 100%;
  height: 40px;
  background-color: white;
  border-bottom: 1px solid grey;
}

.second-header {
  position: relative;
  top: 0px;
  background-color: white;
  width: 100%;
  height: 70px;
  padding-left: 160px;
}

.second-header__logo {
  position: relative;
  top: 20px;
  width: 150px;
}

.first-section-product-container {
  display: flex;
  flex-direction: row;
  margin: 75px 170px;
}

.first-section-product-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 385px;
  /* background-color: white; */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.2))), url("..//images/kupono-kuwamura-LzgK6IMoSZM-unsplash.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("..//images/kupono-kuwamura-LzgK6IMoSZM-unsplash.jpg");
  background-position: center;
}

.all-products__image-image {
}

.first-section-product-decription {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 385px;
  background-color: #ffffff;
  padding: 15px;
}

.first-section-product-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.first-section-sample-description {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 20px 0px;
}

ul.a {
  list-style-type: disc;
  display: list-item;
  margin-left: 20px;
}

.first-section-sample-description-features {
  display: list-item;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: none;
  padding: 6px 0px;
}

.first-section-add-to-cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 95px;
}

.first-section-add-to-cart-price {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #6a4eff;
}

.first-section-decrease-quantity {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 50%;
  padding: 8px 13px;
}

.first-section-increase-quantity {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 50%;
  padding: 8px 13px;
}

/* .first-section-add-to-cart-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #6a4eff;
  color: white;
  width: 185px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-right: 15px;
} */

#add-to-cart {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #6a4eff;
  color: white;
  width: 185px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-right: 15px;
  cursor: pointer;
}

.second-section-product-container {
  display: flex;
  flex-direction: column;
  margin: 75px 170px;
}

.second-section-product-decription {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 490px;
  background-color: white;
  padding: 30px;
}

.second-section-product-overview {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 10px 0px;
}

.second-section-product-overview-paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: justify;
}

.second-section-key-features {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 10px 0px;
}

.second-section-feature {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 10px 0px;
}

.second-section-feature-paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: justify;
}

/* .third-section-recommended-products-container {
  display: flex;
  flex-direction: column;
  margin: 75px 170px;
  gap: 15px;
}

.third-section-product {
  width: 100%;
  height: 100px;
  background-color: darkgreen;
}

.fourth-section-similar-products-container {
  display: flex;
  flex-direction: row;
  margin: 75px 170px;
  gap: 15px;
}

.fourth-section-product {
  width: 100%;
  height: 400px;
  background-color: purple;
} */
